body,
html{
    margin: 0;
    padding: 0;
}

body{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 30px;
    font-weight: bold;
    text-align: center;
    background: #555768;
}

#main-container{
    display: grid;
    grid-template-columns: 1fr 7fr;
    grid-template-rows: 1fr 7fr 30px;
    grid-gap: 5px;
    width: 95%;
    margin-left: auto;
    margin-right: 10px;
    height: 100vh;
    grid-template-areas: 
        "s h"
        "s c"
        "s f";
        
}

a{
    margin: 0;
    padding: 0;
}

header{
    background: #09022e;
    grid-area: h;
    box-shadow: 0 3px 25px 6px #161616;
    line-height: 85px;
    margin: 0;
    padding: 0;
    border-radius: 10px;
    animation: header-load 200ms ease-in-out 1;
}

header h1{
    font-size: 30px;
    color:#dedede;
    margin: 5px 0;
    margin-bottom: -40px;
    padding: 0;
}

header h3{
    font-size: 20px;
    margin: 0;
    color:#dedede;
    font-weight: 200;
}

header h3 a{
    color: white;
    text-decoration: none;
    cursor: pointer;
    font-weight: bold;
}

#kel-title,
header h3{
    animation: headercontent-load 400ms ease-in-out 100ms 1 backwards;
    transform-origin: bottom;
}

sidebar{
    width: 200px;
    background: #e6e7f8;
    box-shadow: 3px 3px 10px 2px #161616;
    grid-area: s;
    color: #1f173f;
    display: grid;
    box-sizing: border-box;
    position: fixed;
    max-height: 100%;
    min-height: 95vh;
    top: 2.5%;
    left: 0.75%;
    overflow: visible;
    border-radius: 10px;
    z-index: 5;
    text-align: center;
    justify-content: center;
    animation: sidebar-load 200ms ease-in-out 1;
}

sidebar div{
    animation: sidebarcontent-load 400ms ease-in-out 100ms 1 backwards;
    transform-origin: right;
}

fieldset{
    margin: 10px 15px;
    border: none;
    border-radius: 10px;
}

legend{
    grid-area: label;
    font-weight: bold;
}

legend div{
    background: #e6e7f8;
    width: 120px;
    margin: 0;
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

div .difficulty,
div .resource{
    cursor: pointer;
}

#diff-div{
    padding: 0;
    margin: 0;
    height: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.filter-label{
    font-weight: bolder;
    grid-area: diff;
}

.diff-div{
    font-weight: normal;
    margin-top: 15px;
    display: flex;
}

#res-div{
    padding: 0;
    margin: 120px 0 0 0;
    height: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.res-div{
    margin-top: 15px;
    display: flex;
    font-weight: normal;
}

#lang-div{
    padding: 0;
    margin: 100px 0 0 0;
    height: 50px;
    width: 50%;
    display: flex;
    flex-direction: column;
    font-size: 12px;
}

.lang-div{
    margin-top: 15px;
    display: flex;
    font-weight: normal;
}

@media only screen and (max-height: 510px) and (min-width: 949.999px){

    sidebar{
        height: 120vh;
        overflow: scroll;
        left: 0;
        width: 16%;
    }

    .filter-divider{
        width: 1px;
    }

    .filter-divider input{
        margin: 0;
    }

    #jsbtn{
        padding-bottom: 30px;
        background: red;
        margin-bottom: 50px;
    }

    fieldset{
        padding-bottom: 75px;
        width: 20%;
        padding-right: 1%;
    }

    header, section, footer{
        margin-left: 0;
    }
}

@media only screen and (max-width: 950px) and (min-height: 0){

    #main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 4fr 1fr;
        grid-gap: 5px;
        width: 95%;
        margin: auto;
        height: 100vh;
        grid-template-areas: 
            "h"
            "s"
            "c"
            "f";
            
    }

    header{
        background: #09022e;
        grid-area: h;
        box-shadow: 0 3px 25px 6px #161616;
        line-height: 80px;
        margin: 0;
        padding: 0;
    }
    
    header h1{
        font-size: 24px;
        color:#dedede;
        margin-bottom: -40px;
        margin-top: 5px;
        padding: 0;
    }
    
    header h3{
        font-size: 15px;
        margin: 0;
        color:#dedede;
        font-weight: 200;
    }
    
    header h3 a{
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }
    
    sidebar{
        background: #e6e7f8;
        box-shadow: 0 3px 10px 2px #161616;
        grid-area: s;
        min-height: 130px;
        position: static;
        width: 99%;
        margin-left: 1%;
        justify-self: center;
        justify-content: stretch;
    }
    
    fieldset{
        margin: 10px;
        border: none;
        display: flex;
        flex-direction: rows; 
        font-size: 12px;
        font-weight: normal;
        align-items: center;
        padding-bottom: 15px;
        display: flex;
        justify-content: start;
    }

    legend{
        grid-area: label;
        font-weight: bold;
        font-size: 1.75em;
        margin-bottom: 0;
        color: #161616;
    }

    #diff-div{
        padding: 0;
        margin: 0;
        padding-right: 16px;
        height: 50px;
        width: 50%;
        display: grid;
        justify-content: center;
        grid-template-columns: 1fr 1.2fr 1.5fr 1.2fr;
        grid-template-rows: 10px 50px;
        grid-template-areas: 
            "diff diff diff diff"
            "difall easy mod hard";
        border-right: 2px solid rgba(14, 2, 77, 0.1);
        flex-shrink: 1;
    }

    .filter-label{
        font-weight: bolder;
        grid-area: diff;
    }

    .diff-div{
        margin-top: 15px;
        display: flex;
    }

    #dif-all{
        grid-area: difall;
    }

    #easy{
        grid-area: easy;
    }

    #moderate{
        grid-area: mod;
    }

    #hard{
        grid-area: hard;
    }

    #res-div{
        padding: 0;
        margin: 0;
        margin-right: 17px;
        height: 50px;
        width: 50%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10px 50px;
        grid-template-areas: 
            "res res res"
            "resall scr oth";
        flex-shrink: 1;
    }

    .res-div{
        margin-top: 15px;
        display: flex;
    }

    #res-label{
        grid-area: res;
    }

    #res-all{
        margin-left: 50px;
        grid-area: resall;
    }

    #scrimba{
        grid-area: scr;
    }

    #others{
        grid-area: oth
    }

    #lang-div{
        padding: 0;
        margin: 0;
        height: 50px;
        width: 50%;
        display: grid;
        justify-items: center;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 10px 50px;
        grid-template-areas: 
            "lang lang lang"
            "langall css js";
        border-left: 2px solid rgba(14, 2, 77, 0.1);
        flex-shrink: 1;
    }

    #lang-label{
        grid-area: lang;
    }
    
    section{
        background: #eeeef0;
        box-shadow: 0 3px 6px 3px #161616;
        grid-area: c;
        margin: 0;
    }
    
    footer{
        background: #0c123a;
        box-shadow: 0 3px 40px 5px #161616;
        grid-area: f;
        color: #dedede;
        margin: 0;
    }
}

@media only screen and (max-width: 700px){
    #main-container{
        display: grid;
        grid-template-columns: 1fr;
        grid-template-rows: 1fr 1fr 4fr 1fr;
        grid-gap: 5px;
        width: 95%;
        margin: auto;
        height: 100vh;
        grid-template-areas: 
            "h"
            "s"
            "c"
            "f";
            
    }
    
    header{
        background: #09022e;
        grid-area: h;
        box-shadow: 0 3px 25px 6px #161616;
        line-height: 80px;
        margin: 0;
        padding: 0;
    }
    
    header h1{
        font-size: 24px;
        color:#dedede;
        margin-bottom: -40px;
        margin-top: 5px;
        padding: 0;
    }
    
    header h3{
        font-size: 15px;
        margin: 0;
        color:#dedede;
        font-weight: 200;
    }
    
    header h3 a{
        color: white;
        text-decoration: none;
        cursor: pointer;
        font-weight: bold;
    }
    
    sidebar{
        background: #e6e7f8;
        box-shadow: 0 3px 10px 2px #161616;
        grid-area: s;
        min-height: 160px;
    }
    
    fieldset{
        margin: 10px;
        border: none;
        display: flex;
        flex-direction: rows; 
        font-size: 12px;
        font-weight: normal;
        align-items: center;
        padding-bottom: 15px;
    }

    legend{
        grid-area: label;
        font-weight: bold;
    }

    #diff-div{
        padding: 0;
        margin: 0;
        height: 100px;
        width: 50%;
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 4px 1fr 1fr 1fr;
        grid-template-areas: 
            "diff"
            "difall"
            "easy"
            "mod"
            "hard";
    }

    .filter-label{
        font-weight: bolder;
        grid-area: diff;

    }

    .diff-div{
        margin-top: 5px;
        display: flex;
        margin-left: 20%;
    }

    #diff-div-all{
        grid-area: difall;
        margin-top: 20px;
    }

    #diff-div-easy{
        grid-area: easy;
    }

    #diff-div-mod{
        grid-area: mod;
    }

    #diff-div-hard{
        grid-area: hard;
    }

    #res-div{
        padding: 0;
        margin: 0;
        height: 100px;
        width: 50%;
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 10px 1fr 1fr 1fr;
        grid-template-areas: 
            "res"
            "resall"
            "scr"
            "oth";
    }

    .res-div{
        margin-top: 15px;
        display: flex;
        margin-left: 25%;
    }

    #res-label{
        grid-area: res;
    }

    #res-all{
        margin-left: 5px;
        grid-area: resall;
    }

    #scrimba{
        grid-area: scr;
    }

    #others{
        grid-area: oth
    }

    #lang-div{
        padding: 0;
        margin: 0;
        height: 100px;
        width: 50%;
        display: grid;
        justify-items: stretch;
        grid-template-columns: 1fr;
        grid-template-rows: 10px 1fr 1fr 1fr;
        grid-template-areas: 
            "lang"
            "langall"
            "css"
            "js";
    }

    #lang-label{
        grid-area: lang;
    }

    .lang-div{
        margin-left: 30%;
    }

    #lang-allbtn{
        grid-area: langall;
    }

    #cssbtn{
        grid-area: css;
    }

    #jsbtn{
        grid-area: js;
    }
    
    section{
        background: #eeeef0;
        box-shadow: 0 3px 6px 3px #161616;
        grid-area: c;
        
    }
    
    footer{
        background: #0c123a;
        box-shadow: 0 3px 40px 5px #161616;
        grid-area: f;
        color: #dedede;
    }
}

section{
    background: #eeeef0;
    box-shadow: 0 3px 6px 3px #161616;
    grid-area: c;
    border-radius: 10px;
    padding-bottom: 25px;
    animation: content-load 200ms ease-in-out 1;
}

section h2{
    font-size: 30px;
    margin: 0;
    margin-top: 20px;
    color: #0e024d;
}

#section-body{
    margin: 5px;
    min-height: 450px;
    margin-top: 35px;
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(280px, 1fr));
    grid-auto-rows: 350px;
    align-items: center;
    justify-content: center;
}

.project-card{
    margin: auto;
    height: 320px;
    width: 200px;
    align-self: center;
    padding: 0;
}
.gifScreen{
    height: 250px;
    width: 200px;
    border-radius: 25px;
    box-shadow: 3px 3px 10px 5px #1f173f;
    opacity: 0.55;   
}

.gifScreen:hover ~ .project-title,
.gifScreen:hover{
    opacity: 1;
    cursor: pointer;
}

.project-title{
    font-size: 20px;
    color: #0e024d;
    margin: 0;
    margin-top: -40px;
    padding: 0;
    font-weight: bold;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    opacity: 0.7;

}

.card-ani,
section h2{
    animation: sectioncontent-load 400ms ease-in-out 100ms 1 backwards;
    transform-origin: top;
}

footer{
    background: #0c123a;
    height: fit-content;
    height: -moz-fit-content;
    box-shadow: 0 3px 40px 5px #161616;
    grid-area: f;
    color: #dedede;
    font-size: 7px;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr auto;
    grid-template-areas: 
        "f f"
        "scr wds";
    padding-bottom: 15px;
    animation: footer-load 400ms ease-in-out 100ms 1 backwards;
    transform-origin: top;
}

footer h4, h5{
    font-size: 1.1em;
}

footer ul{
    list-style-type: none;
    margin: 0;
    padding: 0;
}

footer ul li{
    padding: 2px 0;
}

footer li a{
    color: #aaaaaa;
    text-decoration: none;
}

footer li a:visited{
    color: #aaaaaa;
    text-decoration: none;
}

footer li a:hover{
    cursor: pointer;
    color: white;
}

.head-of-footer{
    margin: 0;
    padding: 0;
    grid-area: f;
}

.footer-scr{
    grid-area: scr;
    margin: 0;
    padding: 0;
}

.footer-wds{
    grid-area: wds;
    margin: 0;
    padding: 0;
}

header, section, footer{
    margin-left: 1%;
}

::-webkit-scrollbar{
    width: 7.5px;
    margin: 0;
    padding: 0;
}

::-webkit-scrollbar-track {
    background: #dedede;
    box-shadow: inset 0 0 5px grey;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    background: #09022e;
    border-radius: 20px;
    border: 1px solid #09022e;
}

::-webkit-scrollbar-thumb:hover {
    background: #222435;
}

@keyframes header-load{
    0%{
        transform: translateY(-100%);
    }
    100%{
        transform: translateY(0);
    }
}

@keyframes sidebar-load{
    0%{
        transform: translateX(-100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes content-load{
    0%{
        transform: translateX(100%);
    }
    100%{
        transform: translateX(0);
    }
}

@keyframes footer-load{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes headercontent-load{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes sidebarcontent-load{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}

@keyframes sectioncontent-load{
    0%{
        transform: scale(0);
    }
    100%{
        transform: scale(100%);
    }
}