*{
    font-family: Verdana, Geneva, Tahoma, sans-serif;
}

body{
    margin: 0;
    padding: 0;
    background: url("imgs/bg.jpg"), rgba(0, 0, 0, 0.25);
    background-size: cover, cover;
    background-blend-mode: color;
    color: rgb(196, 225, 245);
}

.container{
    height: 97vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.container .greet{
    font-size:calc(21px + 1.5vw);
    margin-bottom: 10px;
}

.container .content{
    min-height: 100%;
    background: rgba(0, 0, 0, 0.3);
    width: 50%;
    min-width: 400px;
    min-height: 300px;
    border-radius: 10px;
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    box-shadow: 0 0 1px 1px rgb(57, 43, 95);
}

.form-el{
    width: 50%;
    min-width: 200px;
    margin: auto;
    display: flex;
    flex-direction: column;
    text-align: left;
}

.hidden{
    color: rgba(0, 0, 0, 0);
    font-size: 0.5vw;
}

.signup-form-el label,
.signup-form-el{
    font-size: 0.8em;
}

label{
    display: block;
    margin: 5px 0;
    font-size: 2vw;
}

input,
input:-webkit-autofill,
input:-webkit-autofill:hover, 
input:-webkit-autofill:focus{
    background: rgba(177, 212, 240, 0.6);
    border: 2.5px solid rgba(23, 34, 46, 0.6);
    color:rgba(122, 15, 101, 0.8);
    font-weight: bold;
    font-size: 1em;
    -webkit-text-fill-color: rgba(122, 15, 101, 0.8);
    transition: background-color 5000s ease-in-out 0s;
}

.input:active,
input:focus{
    outline-width: 0;
    outline-style: hidden;
    background: rgba(177, 212, 240, 1);
}

#password{
    margin-bottom: 15px;
}

.form-el > .btn{
    padding: 5px 30px;
    border-radius: 5px;
    color:rgb(168, 212, 230);
    font-weight: bolder;
    align-self: center;
    background: rgba(59, 19, 56, 0.4);
    border: 2px solid rgba(168, 212, 230, 0.8);
    flex-shrink: 1;
    margin-bottom: 10px;
}

.form-el .btn:hover,
.form-el .btn:focus{
    background: rgba(100, 100, 100, 0.1);
    cursor: pointer;
}

.btn-el.form-el{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    flex-wrap: wrap;
}

.form-el .signup{
    margin-left: 5px;
}

.form-el > a.signup.btn{
    font-size: 0.74em;
    text-decoration: none;
    text-align: center;
    padding-left: 22px;
    padding-right: 22px;
}

.credits{
    color: rgb(194, 164, 207);
    font-size: 0.6em;
    font-family: Arial, Helvetica, sans-serif;
}

